asgiref==3.11.1
cffi==2.0.0
cryptography==49.0.0
Django==6.0.5
django-allauth==65.18.0
django-appconf==1.2.0
django-cors-headers==4.9.0
django-cryptography==1.1
django-debug-toolbar==6.3.0
django-field-encryption==0.2.3
django-filter==25.2
django-redis==7.0.0
djangorestframework==3.17.1
pillow==12.2.0
pycparser==3.0
python-decouple==3.8
redis==8.0.1
sqlparse==0.5.5
tzdata==2026.2